/* create color for background

add styling to calculator

add styling to display 

add styling to buttons */

body {
  background-color: black;
  background-size: cover;
}

.calculator .row .wide {
  width: 95px;
}

.tallButton {
  height: 74px;
  width: 30px;
  float: right;
  margin-right: 50px;
  margin-left: 0px;
  margin-top: 10px;

}

.calculator {
  width: 300px;
  height: 320px;
  background-color: whitesmoke;
  margin: auto;
  text-align: center;
  position: relative;
}

.calculator p#title {
  padding-top: 10px;
  margin-bottom: -10px;
  color: #1b145a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.calculator p#tagline {
  text-transform: uppercase;
  color: #969194;
  font-family: 'Open Sans';
  font-size: .7em;
}
.calculator input[type='text'] {
  background-color: #C7C7B0;
  border: 1px solid #b2b292;
  line-height: 40px;
  width: 80%;
  font-size: 2em;
  direction: rtl;
  font-family: 'Montserrat';
  padding-right: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: inset 0px -2px 10px #b2b292;
}
.calculator input[type='text']:focus {
  outline: none;
}

.calculator .row button {
  width: 40px;
  height: 30px;
  color: rgba(255, 0, 0, 0.726);
  font-size: 1.1em;
  font-weight: bolder;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
  box-shadow: greenyellow;
  background-color: #291a46;
}
.calculator .row button:focus {
  outline: 0;
}
.calculator .row button:active {
  background-image: -webkit-linear-gradient( bottom , #4B4657, #332f3b);
  background-image: linear-gradient(to top, #4B4657, #332f3b);
}

.calculator .row .tall {
  height: 65px;
  float: right;
  margin-right: 49px;
  margin-left: -34px;
}
